/*img
    {
    border-radius:50%;

    }
 card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
}

vl {
  border-left: 10px solid black;
  height:100px;
  }
card1
  {
  margin-left:150px;
  }